*{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 80%;
}
body{
    background-color: #2a2b38;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
    background-repeat: no-repeat;
    background-size: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    
}
.logo{
    padding-top: 2%;
    margin-left: 2%;
    width: 60px;
    animation: movimiento 2s infinite linear alternate;
    animation-name: slidein;
}
@keyframes slidein {
    from {
        margin-left: 4%;
        width: 100px
    }
    to {
        margin-left: 2%;
        width: 100px;
    }
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    margin-left: 80px;
}
.text-area{
    background-color: transparent;
    width: 100%;
    color: white;
    resize: none;
    border: none;
    margin-top: 90px;
}
.text-area:focus{
    outline: none;
}
.text-area::placeholder{
    color: white;
}
.mensaje{
    background: transparent;
    background-image: url(./img/encriptacion.jpg);
    animation: movimiento 5s infinite linear alternate;
    background-size: 600px;
    background-position: center;
    background-repeat: no-repeat;
    width: 500px;
    height: 200px;
    border-top-width: 10px;
    border-right-width: 1em;
    border-bottom-width: thick;
    border-left-width: thin;
    border-color: white;
    resize: none;
    color:#E9ECF8;
    margin-top: 20px;
    text-align:center;
    padding-top: 50px;
}
@keyframes movimiento {
    from{
        background-position: bottom left;
    }
    to{
        background-position: top right;
    }
}
.mensaje:focus{
    outline: none;
}
.botones{
    display: flex;
    margin-top: 18px;

}
.buttonEncriptar{
    background-color: black;
    border: 2px solid white;
    font-size: 25px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 200px;
    margin-right: 5px;
    
}
.buttonEncriptar:hover {
    color: transparent;
    background-color: white;
    background-image: url(/img/candado_cerrado.png);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    background-size: 50px;
    transition: 0.7s all;
}
.buttonDesencriptar{
    background-color: black;
    border: 2px solid white;
    font-size: 25px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 200px;
}
.buttonDesencriptar:hover {
    color: transparent;
    background-color: white;
    background-image: url(/img/candado_abierto.png);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    background-size: 100px;
    transition: 0.7s all;
}
.copiar{
    background-color: white;
    color: black;
    cursor: pointer;
    height: 67px;
    position: relative;
    width: 100%;

}
.copiar:hover {
    background-color: #2a2b38;
    border-radius: 100px;
    border: 2px solid white;
    color: white;
    transition: 0.7s all;
}
.informacion{
    background-image: url(./img/Group.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 20px;
    color: #495057;
    font-size: 18px;
}

footer{
    background-color: black;
    border-top: 2px solid white;
    width: 100%;
    height: 50px;
    color: white;
    margin-top: auto;
}
.copyright{
    background: black;
    font-size: 15px;
    margin: 20px
}

@media screen and (max-width:480px) {
    main{
        margin-left: 50px;
        display: flex;
        justify-content: flex-start
    }
    .text-area{
        font-size: 20px;
        width: 200px;
        height: 100px;
        margin-top: 80px;
        margin-right: 50px;
    }
    .informacion{
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }
    .botones{
        display: flex;
        flex-direction: column;
    }
    .buttonEncriptar{
        width: 200px;
        margin-bottom: 5px;
        font-size: 1.5rem;
    }
    .buttonDesencriptar{
        width: 200px;
        margin-bottom: 5px;
        font-size: 1.5rem;
    }
    .mensaje{
        width: 200px;
        height: 280px;
        margin-left: 0px;
        background-size: 10rem;
    }
    .copyright{
        text-align: center;
    }
}
